# macOS
.DS_Store

# Fichiers audio générés
*.wav
*.mp3
*.ogg
output_song.wav

# Streamlit & Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
*.egg-info/
.envrc

# Fichiers locaux
requirements-local.txt

